@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #11181C;
    --muted: #f9fafb;
    --muted-foreground: #6b7280;
    --popover: #ffffff;
    --popover-foreground: #11181C;
    --card: #ffffff;
    --card-foreground: #11181C;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --primary: #11181C;
    --primary-foreground: #ffffff;
    --secondary: #f3f4f6;
    --secondary-foreground: #11181C;
    --accent: #f3f4f6;
    --accent-foreground: #11181C;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --ring: #3b82f6;
  }

  .dark {
    --background: #09090b;
    --foreground: #f9fafb;
    --muted: #18181b;
    --muted-foreground: #a8a29e;
    --popover: #09090b;
    --popover-foreground: #f9fafb;
    --card: #09090b;
    --card-foreground: #f9fafb;
    --border: #27272a;
    --input: #27272a;
    --primary: #f9fafb;
    --primary-foreground: #09090b;
    --secondary: #18181b;
    --secondary-foreground: #f9fafb;
    --accent: #18181b;
    --accent-foreground: #f9fafb;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9fafb;
    --ring: #22d3ee;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}